<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SDTypeSelectView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18CDFEA11E16FE5F001F0581</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18CDFEBA1E16FE5F001F0581</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18CDFEC51E16FE5F001F0581</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
